/* Slider.css */
.sliders-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slider-container {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  
  .slider {
    display: flex;
    overflow: hidden; 
  }

.slider.slide-left {
    animation: slide-left 50s linear infinite;
  }
  
.slider.slide-right {
    animation: slide-right 50s linear infinite;
  }
  
  @keyframes slide-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  @keyframes slide-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .slide {
    flex: 0 0 auto;
    width: 20%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px; 
  }
  
  .slide-image {
    max-width: 100%; 
    height: auto; 
  }
  