.gallery {
  --s: 10vw; /* control the size */
  --g: 0px; /* control the gap */
  --r: 2.1vw; /* control the circular shapes */

  display: grid;
  gap: var(--g);
  grid: auto-flow var(--s) / repeat(5, var(--s));
}
@media screen and (max-width: 768px) {
  .gallery {
    --s: 18vw;
    --r: 3.78vw;
  }
}
@media screen and (max-width: 1280px) and (min-width: 769px) {
  .gallery {
    --s: 15vw;
    --r: 3.15vw;
  }
}
@media screen and (max-width: 1536px) and (min-width: 1281px) {
  .gallery {
    --s: 12vw;
    --r: 2.52vw;
  }
}
.sc0-text {
  grid-column: 4 / 6;
  grid-row: 5 / 6;
}
.gallery > img {
  object-fit: cover;
}
.gallery > img:hover {
  z-index: 2;
}
.gallery > img:is(:nth-child(2), :nth-child(15), :nth-child(18)) {
  min-width: 100%;
  min-height: 100%;
}
.gallery > img:is(:nth-child(3), :nth-child(11)) {
  min-width: calc(100% + var(--r));
  min-height: 100%;
  translate: calc(-1 * var(--r)) 0;
}
.gallery > img:is(:nth-child(4), :nth-child(6)) {
  min-width: calc(100% + 2 * var(--r));
  min-height: calc(100% + 2 * var(--r));
  translate: calc(-1 * var(--r)) calc(-1 * var(--r));
}
.gallery > img:is(:nth-child(7), :nth-child(8), :nth-child(17)) {
  min-width: calc(100% + var(--r));
  min-height: calc(100% + var(--r));
  translate: 0 calc(-1 * var(--r));
}
.gallery > img:is(:nth-child(9), :nth-child(10)) {
  min-width: calc(100% + var(--r));
  min-height: calc(100% + var(--r));
  /* translate: calc(-1 * var(--r)) 0; */
}
.gallery > img:is(:nth-child(12)) {
  min-width: calc(100% + 2*var(--r));
  min-height: calc(100% + var(--r));
  translate: calc(-1 * var(--r)) calc(-1 * var(--r));
}
.gallery > img:is(:nth-child(13), :nth-child(23)) {
  min-width: 100%;
  min-height: 100%;
  translate: 0 calc(-1 * var(--r));
}
.gallery > img:is(:nth-child(14), :nth-child(21)) {
  min-width: calc(100% + 2*var(--r));
  min-height: calc(100% + var(--r));
  translate: calc(-1 * var(--r));
}
.gallery > img:is(:nth-child(22)) {
  min-width: calc(100% + var(--r));
  min-height: calc(100% + 2*var(--r));
  translate: 0 calc(-1 * var(--r));
}
