.section {
    position: relative;
    width: 100%;
    height: 100%;
}


.star-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/discord/stars.svg');
    background-size: cover;
    background-repeat: repeat;
    opacity: 0.9;
    z-index: 2;
}

.bottom-overlay {
    position: absolute;
    bottom: 25%;
    left: 37%;
    width: 27%;
    height: 23%;
    cursor: pointer;
}