@keyframes animatedBackground {
    0% {
        background-position: 50% 0;
    }
    50% {
        background-position: 50% 13%;
    }
    100% {
        background-position: 50% 0;
    }
}

.home-mascot {
    animation: animatedBackground 5s ease-in-out infinite;
}