body {
    cursor: none; 
}

.custom-cursor {
    position: absolute;
    pointer-events: none; 
    transform: translate(-50%, -50%); 
    width: 100px;
    height: 100px; 
    z-index: 10000; 
}

.link-cursor {
    content: url('src/assets/images/LandingPage/cursor1.svg');
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    z-index: 10000;
}

a, button, img, svg{
    cursor: none; /* Ensure links have a pointer cursor */
}
