/* CursorFollower.css */
.cursor-follower {
    position: absolute;
    pointer-events: none; /* Ensure the image doesn't block clicking */
    transform: translate(80%,0); /* Center the image on the cursor */
    display: block;
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    transition: opacity 0.2s ease; /* Smooth transition */
}

.cursor-follower.visible {
    display: block; /* Make it visible */
    opacity: 1;
}
