@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.main-footer{
    font-family: 'VT323', monospace;
    height: 100%;
}

.upfooter {
    background-color: #040842;
    /* border: 2px solid yellow; */
}

.address,
.resources,
.social {
    z-index: 10;
}

.footer-container {
    position: relative;
    width: 100%;
}

.img-background {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.text-bottom-footer {
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 999;
}

.text-style-footer {
    color: #BEBEBE;
}

.text-heading-footer {
    color: #FFFFFF;
}

.copyright {
    background-color: #BEBEBE;
}